@media (max-width: 1500px) {
   .main-d{
    
    padding: 10px;
    gap: 33px;
   }
  }
@media (max-width: 1247px) {
   .main-d{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1px;
   }
   
  }
@media (max-width: 655px) {
.weather-details{
    padding: 10px;
}

  }
  


#weather-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}

.weather-details{
    display: flex;
    border: 5px solid rgb(223, 223, 223);
    flex-direction: column;
    /* align-items: center; */
    background-color: rgba(113, 169, 233, 0.8);
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    height: 44vh;
    width: 40vw
}
.border-div{
    /* padding: 1px; */
    /* background-color: red; */
/* border: 2px solid rgb(216, 105, 105); */

}
.main-d{
}
ul{
    display: flex;
    justify-content: center;
    padding: 5px;
}

body{
    background-image: url("images/sunbg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.form-control{
width: 800px;

}

.inp-n-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
span input:focus{
    outline: none;

}

.heading{
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.location-name{
    font-size: 25px;
    /* margin-bottom: 20px; */
}

.icon{
    /* width: 200px;
    height: 200px; */
    width: 128px;  /* Desired size */
    height: 128px;
    image-rendering: crisp-edges; /* Better rendering */
    image-rendering: -webkit-optimize-contrast;
 
}

.temp{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.feels-like{
letter-spacing: 0.5px;

}
.humidity{
letter-spacing: 0.5px;

}
.wind{
letter-spacing: 0.5px;

}